/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #4CAF50; /* Grüner Hintergrund für die Navigation */
    padding: 15px;
    border-radius: 5px;
}

#menu a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#menu a:hover {
    background-color: #45a049; /* Grün bei Hover */
}

#menu a.active {
    background-color: #2e8b57; /* Dunkleres Grün für den aktiven Button */
}

.container {
    padding: 20px;
    text-align: center;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.table-container {
    max-height: 400px;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}
