/* Dark Mode */
body {
    font-family: Arial, sans-serif;
    background-color: #2d2d2d; /* Dunkler Hintergrund für modernen Look */
    color: #e0e0e0; /* Hellere Schriftfarbe für Kontrast */
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s;
}

h1, h2 {
    text-align: center;
    color: #ff8c00;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 16px;
}

#menu {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
    border-radius: 8px;
}

#menu a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#menu a:hover {
    background-color: #ff8c00;
}

.container {
    background-color: #363636;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%; /* Weite der Suchleiste */
    background-color: #d3d3d3; /* Leicht graues Suchfeld */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 16px;
    text-align: left;
    border: 1px solid #555; /* Rahmenfarbe */
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 8px;
}

th {
    background-color: #666; /* Hintergrundfarbe für Tabellenköpfe */
    color: #e0e0e0; /* Schriftfarbe für Tabellenköpfe */
}

body.light-mode th {
    background-color: #ddd; /* Hintergrundfarbe für Tabellenköpfe im Lichtmodus */
    color: #333; /* Schriftfarbe für Tabellenköpfe im Lichtmodus */
}

body.light-mode td {
    border: 1px solid #ccc; /* Rahmenfarbe für Zellen im Lichtmodus */
}

.scroll {
    display: block;
    overflow-x: auto;
    margin-top: 10px;
}

.scroll thead {
    display: table-header-group; /* Tabellenkopf als Tabellenkopfgruppe darstellen */
}

.scroll tbody {
    display: table-row-group; /* Tabellenkörper als Tabellenzeilengruppe darstellen */
    overflow-y: auto;
    max-height: 300px; /* Größere max-height für die Tabelle */
    scrollbar-width: none; /* Für Firefox */
}

.scroll tbody::-webkit-scrollbar {
    display: none; /* Für Webkit-Browser - z.B. Chrome, Safari */
}

/* Light Mode */
body.light-mode {
    background-color: #f0f0f0;
    color: #333;
}

body.light-mode #menu {
    background-color: #ddd;
}

body.light-mode #menu a {
    background-color: #ddd;
    color: #333;
}

body.light-mode #menu a:hover, body.light-mode #menu a.active {
    background-color: #ff8c00;
    color: #fff;
}
