th, td {
    padding: 16px;
    text-align: left;
    border: 1px solid #555; /* Rahmenfarbe */
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 8px;
}

th {
    background-color: #666; /* Hintergrundfarbe für Tabellenköpfe */
    color: #e0e0e0; /* Schriftfarbe für Tabellenköpfe */
}
