body {
    font-family: Arial, sans-serif;
    background-color: #2d2d2d;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #ff8c00;
}

h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
    color: #ff8c00;

}

h3 {
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
    color: #fff;

}

#menu {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
    border-radius: 8px;
}

#menu a, #menu button {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    background-color: #444;
}
#menu a:hover, #menu button:hover {
    background-color: #ff8c00;
}

/* Neue Regel für den aktiven Button */
#menu a.active, #menu button.active {
    background-color: #ff8c00; /* Orange Hintergrundfarbe für den aktiven Button */
    color: #fff; /* Optional: Weißer Text für besseren Kontrast */
}

.container {
    background-color: #363636;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    input[type="text"] {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: #d3d3d3; /* Leicht graues Suchfeld */
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
